body{
  background-color: black;
  color: #f5f5f5; 
  font: normal normal normal 16px Futura PT;
  padding-top: 170px;
}

/* NAV */

.navbar{ 
  padding-top: 60px;
  font: 18px Carbon;
  text-transform: lowercase;
  overflow: hidden;
}

.nav-link:hover{ 
  color: #000000 !important;
  background-color: #f5f5f5;
  cursor: cell;
}

.navbar-brand:hover{
  cursor: cell;
}

.navbar-fixed-top.scrolled {
  background-color: black !important;
}

/* END NAV */

.buttons {
  margin: 5px 0;
}
button {
  font-size: 14px;
  display: inline;
  padding: 3px 6px;
  border: 2px solid #ccc;
  background: #fff;
  border-radius: 5px;
  outline: none;
}
button:hover {
  border: 2px solid #888;
  background: #ffe;
  cursor: pointer;
}
#carouselWrapper {
  position: relative;
  overflow: hidden;
}
#carousel {
  position: absolute;
  visibility: hidden;
}
